@import "tailwindcss";

@theme {
    --breakpoint-xxs: 26rem;
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2B2A28;
}

#contacts-form {
    scroll-margin-top: 9rem;
}

@media (max-width: 1023px) {
    #contacts-form {
        scroll-margin-top: 6rem;
    }
}

.gradient-text {
    background: linear-gradient(to right, #ED6F17);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-bg {
    background: linear-gradient(135deg, #ED6F17, #801D81, #432483);
}

.gradient-border-hover:hover {
    border-image: linear-gradient(to right, #ED6F17, #801D81) 1;
}

.service-card {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.glass-header {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(12px);
}

.social-link:hover svg path,
.max-social-link:hover svg path {
    fill: #ffffff;
}

.max-social-link:hover {
    background:
        radial-gradient(48.5407px 20px at -0.951632px -17.5674px, #0000ff 0%, rgb(0 0 255 / 0) 100%),
        linear-gradient(106deg, #44ccff 0%, #5533ee 66.2%, #9933dd 100%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #432483;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #801D81;
}
